.Cntr {
    width: 40%;
    margin-left: 345px;
    border-top: 2px solid #964b00;
    border-bottom: 2px solid #964b00;
    margin-top: 5%;
    align-items: center;

    .ButtonSave {
        margin-top: 20px;
        width: 45%;
        height: 48px;
        background: #49B2F2;
        border-radius: 16px;
        margin-bottom: 13%;
        margin-left: 27%;
        text-align: center;
        align-items: center;
        .TxtButton {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 100%;
            line-height: 30px;
            display: flex;
            align-items: center;
            text-align: center;
            letter-spacing: 0.005em;

            color: #FFFFFF;
        }
    }
}

.TextContain {
    align-items: center;
    margin-top: 8%;

    .TextHead {
        text-align: center;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0.005em;

        color: #707070;
    }

    .TelpText {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 34px;
        line-height: 51px;
        align-items: center;
        text-align: center;
        letter-spacing: 0.005em;
        margin-bottom: 50px;
        color: #000000;
    }
}