.this-cont {
    border-radius: 16px;
    display: flex;
    height: 360px;
    width: 100%;
    background-color: rgb(233, 231, 229) !important;
    
    
}

.this-card {
    background: #5dd95d !important;
    width: 25%;
    height: 370px;
    border: 1px solid #964b00;
    border-bottom-right-radius: 16px;
    border-top-right-radius: 16px;
}
.card-content{
    margin-top: 2%;
    width: 125%;
    height: 100%;
    margin-left: 5%;
    
}
