.beli {
    width: 530%;
    height: 400% !important;
    margin-left: 20%;
    margin-top: 30%;
    align-items: center;
    cursor: pointer;
    background-color: #f0d000;
    border-radius: 4px;
    
    text-transform: capitalize;
    border: 1px solid #000000;

    .font-beli {
        height: 100%;
        text-transform: capitalize;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 1.4vw;
        line-height: 15px;


        color: #000000;
    }
}

.sukses {
    width: 70%;
    height: 70%;
    margin-top: -10%;
    margin-left: 15%;
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    animation-delay: 2s;

    // @keyframes example {
    //     0% {
    //         background-color: red;
    //         left: 0px;
    //         top: 0px;
    //     }

    //     25% {
    //         background-color: yellow;
    //         left: 200px;
    //         top: 0px;
    //     }

    //     50% {
    //         background-color: blue;
    //         left: 200px;
    //         top: 200px;
    //     }

    //     75% {
    //         background-color: green;
    //         left: 0px;
    //         top: 200px;
    //     }

    //     100% {
    //         background-color: red;
    //         left: 0px;
    //         top: 0px;
    //     }
    // }
}

.scs {
    .NavBack {
        text-decoration: none;
        cursor: pointer;
        float: right;
        width: 100%;
        margin-top: 5%;
        .BackButton {
            display: flex;
            cursor: pointer;
            width: 100%;
            background-color: #f0d000;
            border-radius: 8px;
            border: 1px solid #000000;
            .Back {
                cursor: pointer;
                font-family: 'Calibri';
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 30px;
    
                /* identical to box height */
                letter-spacing: 0.03em;
    
                color: #000000;
            }
        }
    }
    .font-sukses {
        margin-top: 5%;
        text-transform: capitalize;
        font-family: 'Calibri';
        font-style: normal;
        font-weight: 700;
        font-size: 2.5vw;
        line-height: 30px;
        text-align: center;
        width: 100%;

        color: #008B8B;
    }
}