.truckVesselTimeline {
  padding-left: 6px;
  font-family: "SFProDisplay-Regular";

  .boldText {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #2c2c2c;
  }

  .grayText {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;

    color: #acaaaa;
  }
}
