// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary: #ffd500,
  primary-dark: #ffae00,
  page-background: #f4f6f8,
  secondary: #32db64,
  yellow: #ecd75d,
  danger: #f53d3d,
  light: #f4f4f4,
  dark: #222,
  black: #000,
  gray: #f1f1f1,
  ut-color: #f4cb00,
);

$status: (
  empty: transparent,
  completed: #4da1ff,
  no-action: #d42640,
  assigned: #be8f0b,
  handover: #ffc00e,
  validated: #ffc00e,
  created: #f97b8d,
);

$dimensions: (
  page-title: 1.3vw,
  page-content: 0.78vw,
);

$shadows: (
  type-1: 0 1px 3px #0000001a,
  type-2: 0 2px 6px #0000001a,
  type-3: 3px 3px 10px #0000001a,
  card: 0 0 10px #0000000d,
  navbar: 0 3px 6px #0000001a,
  sidebar: 2px 1px 3px #0000000a,
);

$top-layout-spacing: var(--navbar-height);
$height-mobile: calc(var(--vh, 1vh) * 100);

$search-height-m: 25px;
$search-input-m: 12px;

$z-index: (
  mobile-stepper: 1000,
  speed-dial: 1050,
  app-bar: 1100,
  drawer: 1200,
  modal: 1300,
  snackbar: 1400,
  tooltip: 1500,
);

$screen: (
  xs: 0,
  sm: 683px,
  md: 960px,
  lg: 1280px,
  xl: 1920px,
);
