@font-face {
  font-family: "SFUIDisplay-Regular";
  src: url("../assets/fonts/SFUIDisplay-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SFUIDisplay-Bold";
  src: url("../assets/fonts/SFUIDisplay-Bold.otf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "SFUIText-Regular";
  src: url("../assets/fonts/SFUIText-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SFUIText-Bold";
  src: url("../assets/fonts/SFUIText-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "SFProText-Regular";
  src: url("../assets/fonts/SFProText-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SFProDisplay-Regular";
  src: url("../assets/fonts/SFProDisplay-Regular.otf");
  font-weight: normal;
  font-style: normal;
}
