.navbar {
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.08);
  position: fixed;
  width: 100%;
  display: block;
  top: 0;
  background-color: #ffff;
  z-index: 100;

  .navbarTop {
    padding: 6px 0;
    background: #f9f9f9;

    a {
      color: #707070;
      font-size: 55%;
      font-family: "SFProText-Regular";
      text-decoration: none;
      text-align: center;

      display: flex;

    }

    img {
      height: 13px;
      width: 13px;
    }
  }


  .SearchBar {
    width: 50%;
    float: right;
  }
}