.card {
    width: 95.5%;
    height: 230px;
    margin-left: 1%;
    border-radius: 20px;
    background-color: #fffefe !important;
    border: 1px solid #964b00;
    display: flex;

    .content {
        width: 40%;
        margin-left: -10%;
        margin-top: 7.5%;

    }

    .head {
        width: 30%;
        margin-left: -3%;
        margin-top: 6%;
        
        font-size: 6rem;
        

        /* identical to box height */

        color: #a19d9d;

    }

    .nama {
        margin-left: 2.5%;
        margin-top: 3%;
        font-family: 'Calibri';
        font-style: normal;
        font-weight: 700;
        font-size: 1.6vw;
        line-height: 20px;

        /* identical to box height */

        color: #000000;

        opacity: 0.8;
    }

    .font {
        margin-top: 0.5%;
        margin-left: 2.5%;
        font-family: 'Calibri';
        font-style: normal;
        font-weight: 520;
        font-size: 1.4vw;
        line-height: 20px;
        width: 100%;

        /* or 143% */

        color: #2C2C2C;
    }

    .content2 {
        display: flex;
        width: 30%;
        margin-left: 30%;
        .nama2 {
            cursor: pointer;
            margin-left: -10%;
            margin-top: 10%;
            font-family: 'Calibri';
            font-style: normal;
            font-weight: 700;
            font-size: 1.6vw;
            line-height: 20px;

            /* identical to box height */

            color: #5dd95d;

            opacity: 0.8;
        }

        .font2 {
            cursor: pointer;
            margin-left: 10%;
            margin-top: 10%;
            font-family: 'Calibri';
            font-style: normal;
            font-weight: 700;
            font-size: 1.6vw;
            line-height: 20px;

            /* identical to box height */

            color: #5dd95d;

            opacity: 0.8;
        }
    }
}