
.content{
    display: flex;
    
    .search{
        width: 100%;
        height: 5.47vh;
    }
    
    .comp{
        
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        background-color: #FFD500;
    }



    
}

