.particles{
  width: 20%;
  position: absolute;
  left: 1000%;
}

.input-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  border-radius: 8px;
  .title {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    display: flex;
    align-items: center;
    letter-spacing: 0.005em;

    color: #707070;
  }
  .title-pass {
    margin-top: 5%;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    display: flex;
    align-items: center;
    letter-spacing: 0.005em;

    color: #707070;
  }


}


.field-pass {
  display: flex;
  background: #D9D9D9;
  border: #D9D9D9;
  border-radius: 8px;
  width: 100.5%;

  

  .input-password {
    height: 59.4px;
    width: 100%;
    background: #D9D9D9;
    border: #D9D9D9;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    outline: none;
  }

  .eye-icon {
    height: 57px;
    width: 10%;
    padding-top: 5px;

  }
}

.field-pass:hover {
  outline: 2px solid black;

}

.field {
  width: 100%;
  background: #D9D9D9;
  border: #D9D9D9;
  border-radius: 8px;

  .text-field {
    height: 57px;
    width: 100%;
    background: #D9D9D9;
    border: #D9D9D9;
    border-radius: 8px;
    outline: none;
  }
}

.field:hover {
  outline: 2px solid black;
}

.Container {
  z-index: 5;
  width: 490px;
  margin-left: 320px;
  margin-top: 3%;
  padding: 3%;
  border-radius: 16px;
  background-color: #fff;


  .TextLogin {
    margin-top: 6%;
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 60px;
    align-items: center;
    letter-spacing: 0.005em;
    color: #FFCC00;
  }

  .TextSign {
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    align-items: center;
    letter-spacing: 0.005em;
    color: #707070;
    text-decoration: none;
  }

  .ButtonLogin {
    align-items: center;
    margin-left: 140px;
    margin-top: 40px;
  }

  .Content {
    width: 210px;
    height: 40px;
    background: #FFCC00;
    border-radius: 16px;

    .TitleButton {
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 30px;
      display: flex;
      align-items: center;
      text-align: center;
      letter-spacing: 0.005em;

      color: #000000;
    }


  }


}

.ForgotPass {
  margin-top: 20px;
  text-align: center;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-decoration: none;

  letter-spacing: 0.005em;

  color: #707070;
}