.main-content {
    .head-font{
        font-family: 'SF Pro Text';
        font-style: normal;
        font-weight: 1000;
        font-size: 16px;
        line-height: 22px;

        /* identical to box height */
margin-top: 4%;
        color: #000000;

        opacity: 0.8;
    }

    .font {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 13px;
        line-height: 22px;

        /* identical to box height */

        color: #858585;

        opacity: 0.8;
    }
    .bar{
        width: 30% !important;
    }
}



.this-bar {
    margin-top: 2%;

    
}
.font-bar{
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;

    /* identical to box height, or 100% */

    color: #2C2C2C;
}
.bar{
    width: 70% !important;
}


.icon-this {
    align-items: center;

    .to {
        font-family: 'SF Pro Text';
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        line-height: 18px;

        /* identical to box height, or 129% */
        letter-spacing: -0.096px;

        color: #020202;


    }

    .icon {
        margin-left: 15%;
        text-align: center;
        color: #F0D000;
    }
}

.main {
    .head {
        font-family: 'SF Pro Text';
        font-style: normal;
        font-weight: 1000;
        font-size: 23px;
        line-height: 22px;

        /* identical to box height */

        color: #F0D000;

        opacity: 0.8;
    }

    .font {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 13px;
        line-height: 22px;

        /* identical to box height */

        color: #858585;

        opacity: 0.8;
    }
    .bar{
        width: 30%;
    }
}

.cardmain {
    margin-top: 7%;
    .bt{
        margin-top: 6%;
        text-decoration: none;
    }
    .card {
        height: 15vh;
        display: flex;

        

        .content {
            width: 70%;
            margin-top: 1%;
            margin-left: 2%;

            .font-card {

                margin-left: 4%;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 500;
                font-size: 13px;
                line-height: 22px;

                /* identical to box height */

                color: #000000;

                opacity: 0.8;
            }

            .head-card {
                margin-top: 5%;
                margin-left: 4%;
                font-family: 'SF Pro Text';
                font-style: normal;
                font-weight: 800;
                font-size: 20px;
                line-height: 22px;

                /* identical to box height */

                color: #000000;

                opacity: 0.8;
            }
        }

        .btn-card {
            width: 20%;
            margin-top: 7%;
            height: 5vh;
            border-radius: 8px;
            border: 1px solid #F0D000;
            background-color: #f4f1f1;
            text-decoration: none;
            .btn-title{
                text-transform: capitalize;
                text-decoration: none;
            }
        }
    }
}